<!--======  HERO PART START ======-->
<section class="hero-area hero-carousel-active" id="home">
    <div class="single-hero-area hero-bg-1 bg_cover" data-scroll-area="true">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-area-content">
                        <p class="hero-para">Built for Performance. <br> 
                                Hardened for Privacy.</p>
                            <br>
                        <h1 class="hero-heading">
                            ARCHITECT. FORTIFY. SCALE.
                            <br>
                        </h1>
                            <br>
                        <div class="hero-area-menu">
                            <ul>
                                <li><a href="https://algosize.com/bounties">Active Projects</a></li>
                                <li><a href="https://algosize.com/portfolios/leaderboard">Compliance Standards</a></li>
                                <li><a href="https://algosize.com/portfolios/ranking-tiers">Service Tiers</a></li>
                                <li><a href="https://algosize.com/portfolios/whats-next">System Benchmarks</a></li>
                                <li><a href="https://algosize.com/portfolios/exclusive-perks">Privacy Features</a></li>
                        </div>
                        <a href="#" class="btn hero-btn">BUILD SECURELY<i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-scrolli">
            <span><i class="fa fa-arrow-down"></i></span>
        </div>
    </div>
</section>
<!--======  HERO PART END ======-->
