<!--======  HERO PART START ======-->
<section class="hero-area hero-carousel-active" id="home">
    <div class="single-hero-area hero-bg-1 bg_cover" data-scroll-area="true">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-area-content">
                        <p class="hero-para">From Idea to Implementation—Your <br>
                            Trusted Partner in Algorithm Development</p>
                        <h1 class="hero-heading">
                            <br>
                            <br>
                            <br>
                        </h1>
                        <div class="hero-area-menu">
                            <ul>
                                <li><a href="https://algosize.com/expertise">Expertise</a></li>
                                <li><a href="https://algosize.com/custom-solutions">Custom Solutions</a></li>
                                <li><a href="https://algosize.com/innovative-approaches">Innovative Approaches</a></li>
                                <li><a href="https://algosize.com/industry-versatility">Industry Versatility</a></li>
                                <li><a href="https://algosize.com/end-to-end-support">End-to-End Support</a></li>
                                <li><a href="https://algosize.com/time-efficient">Time-Efficient</a></li>
                                <li><a href="https://algosize.com/collaborative-approach">Collaborative Approach</a></li>
                        </div>
                        <a href="#" class="btn hero-btn">Get Started <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-scrolli">
            <span><i class="fa fa-arrow-down"></i></span>
        </div>
    </div>
</section>
<!--======  HERO PART END ======-->
