<!--======  HERO PART START ======-->
<section class="hero-area hero-carousel-active" id="home">
    <div class="single-hero-area hero-bg-1 bg_cover" data-scroll-area="true">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-area-content">
                        <p class="hero-para">From Idea to Implementation—Your <br>
                            Trusted Partner in Algorithm Development</p>
                        <h1 class="hero-heading">
                            <br>
                        </h1>
                        <div class="hero-area-menu">
                            <ul>
                                <li><a href="/services/search-engine/">Search Engines</a></li>
                                <li><a href="/services/e-commerce/">E-commerce</a></li>
                                <li><a href="/services/social-media/">Social Media</a></li>
                                <li><a href="/services/finance/">Finance</a></li>
                                <li><a href="/services/healthcare/">Healthcare</a></li>
                                <li><a href="/services/navigation/">Navigation</a></li>
                                <li><a href="/services/cybersecurity/">Cybersecurity</a></li>
                                <li><a href="/services/machine-learning/">Machine Learning</a></li>
                                <li><a href="/services/computer-vision/">Computer Vision</a></li>
                                <li><a href="/services/nlp/">Natural Language Processing</a></li>
                                <li><a href="/services/auto-vehicles/">Autonomous Vehicles</a></li>
                                <li><a href="/services/supply-chain/">Supply Chain and Logistics</a></li>
                                <li><a href="/services/telecommunications/">Telecommunications</a></li>
                                <li><a href="/services/gaming/">Gaming</a></li>
                                <li><a href="/services/cybersecurity/">Data Compression</a></li>
                        </div>
                        <a href="#" class="btn hero-btn">Get Started <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-scrolli">
            <span><i class="fa fa-arrow-down"></i></span>
        </div>
    </div>
</section>
<!--======  HERO PART END ======-->
